<section class="auth-wrapper">
  <form class="auth-form" (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
    <h2>Login</h2>

    <article class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="loginEmail" required />
    </article>

    <article class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="loginPassword" required />
    </article>

    <article class="error-box" *ngIf="loginError">
      <div class="error-message">{{ loginError }}</div>
    </article>
    
    <button type="submit">Login</button>

    <article class="form-footer">
      New here?
      <a [routerLink]="['/register']">Create an Account</a>
    </article>
  </form>
</section>