<header class="main-header">
  <div class="logo" (click)="router.navigate([AppRouterDefinitions.ShortUrls])">URL Shorter</div>

  <nav class="nav-actions">
    <ng-container *ngIf="!isAuthenticated(); else loggedInBlock">
      <a [routerLink]="[AppRouterDefinitions.Login]" class="nav-button">Sign In</a>
      <a [routerLink]="[AppRouterDefinitions.Register]" class="nav-button">Sign Up</a>
    </ng-container>

    <ng-template #loggedInBlock>
      <aside class="user-menu-wrapper" (click)="toggleDropdown()">
        <section class="user-email-wrapper" [class.open]="dropdownOpen">
          <span class="user-email">{{ getUserEmail() }}</span>
          <article class="user-dropdown-content" *ngIf="dropdownOpen">
            <button (click)="logout()">Logout</button>
          </article>
        </section>
      </aside>
    </ng-template>
  </nav>
</header>