<header class="main-header">
  <div class="logo" (click)="router.navigate([AppRouterDefinitions.ShortUrls])">URL Shorter</div>

  <nav class="nav-actions">
    <ng-container *ngIf="!isAuthenticated(); else loggedInBlock">
      <a [routerLink]="[AppRouterDefinitions.Login]" class="nav-button">Sign In</a>
      <a [routerLink]="[AppRouterDefinitions.Register]" class="nav-button">Sign Up</a>
    </ng-container>

    <ng-template #loggedInBlock>
      <div class="user-menu-wrapper" (click)="toggleDropdown()">
        <div class="user-email-wrapper" [class.open]="dropdownOpen">
          <span class="user-email">{{ getUserEmail() }}</span>
          <div class="user-dropdown-content" *ngIf="dropdownOpen">
            <button (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </ng-template>
  </nav>
</header>
